@charset 'utf-8';
/************************************************/
/* BASIC SETTING */
/************************************************/

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/***** 폰트 *****/


/***** 레이아웃 *****/
#main {
    height: 100vh;
    position: relative;
}

#rsp-select {
    min-width:500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    text-align: center;
    z-index: 1;
}

#header {
    text-align: center;
    height: 20%;
}

#player-state, #com-state {
    width: 40%;
    height: 100%;
    background: #555;
    float: left;
}

#final-winner {
    width: 20%;
    height: 100%;
    background: #444;
    float: left;
}

#battle-area {
    background:url('../img/background.jpg') no-repeat center center / cover;
    position: relative;
    width: 100%;
    height: 80%;
}


/************************************************/
/* COMPONENTS */
/************************************************/



/************************************************/
/* RSP-SELECT-SECTION */
/************************************************/

/*------ rsp-select ------ */


.rsp-select-btn{
    padding:30px;
    display: inline-block;
    background-color: aqua;
}

.rsp-select-btn i{
    font-size: 80px;
}

/*------ rsp-select ------ */


.rsp-select-btn{
    padding:30px;
    display: inline-block;
    background-color: aqua;
    margin: 0 10px;
    border-radius: 100%;
}

.rsp-select-btn i{
    font-size: 80px;
}


/************************************************/
/* HEADER */
/************************************************/

/* -----PLATER-STATE-LIFE------ */

.player-state__life { 
    padding: 10px;
    overflow: auto;
    border: 1px solid #333;
    text-align: center;
}

.life__text { 
    width: 20%;
    height: 40px;
    float: left;
    padding:10px 0;
    margin-right: 2%;
    border: 1px solid #333;
}

.life__bar { 
    width: 78%;
    float: left;
    border: 1px solid #333;
}

.bar--energy {
    width: 100%;
    height: 40px;
    background: red;
}

/* -----PLAYER-STATE-INFO------ */

.player-state__info {
    padding: 10px;
    overflow: auto;
    border: 1px solid #333;
}

.info--player-name { 
    width: 36%;
    float: left;
    margin-right: 2%;
    padding: 10px 0;
    border: 1px solid #333;
}

.info--win-or-not { 
    width: 30%;
    float: left;
    margin-right: 2%;
    padding: 10px 0;
    border: 1px solid #333;
}

.info--selected-rsp { 
    width: 30%;
    float: left;
    padding: 1px;
    border: 1px solid #333;
    font-size: 28px;
}

/* -----FINAL-WINNER----- */

.final-winner__title {
    font-size:20px;
    padding: 10px 0 ;
}
.final-winner__winner-name {
    font-size: 32px;
    padding: 10px 0;
    color: aqua;
}


/* -----COM-STATE-LIFE------ */

.com-state__life { 
    padding: 10px;
    overflow: auto;
    border: 1px solid #333;
    text-align: center;
}

.com-state__life .life__text { 
    width: 20%;
    float: right;
    margin-left: 2%;
    margin-right: 0;
    border: 1px solid #333;
}

.com-state__life .life__bar { 
    width: 78%;
    float: right;
    border: 1px solid #333;
}

.com-state__life .bar--energy { 
    width: 100%;
    height: 40px;
    float: right;
}

/* -----COM-STATE-INFO------ */

.com-state__info {
    padding: 10px;
    overflow: auto;
    border: 1px solid #333;
}

.com-state__info .info--player-name { 
    width: 36%;
    float: right;
    margin-left: 2%;
    margin-right: 0;
    border: 1px solid #333;
}

.com-state__info .info--win-or-not { 
    width: 30%;
    float: right;
    margin-left: 2%;
    margin-right: 0;
    border: 1px solid #333;
}

.com-state__info .info--selected-rsp { 
    width: 30%;
    float: rgiht;
    border: 1px solid #333;
}

/************************************************/
/* BATTLE-AREA-SECTION */
/************************************************/

.battle-area__player {
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.battle-area__com {
    position: absolute;
    top: 35%;
    right: 20%;
    transform: translate(50%,-50%);
    text-align: center;
}

.battle-area__com img{
    height: 160px;
}

