* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#wrap {
    max-width: 80%;
    margin: 0 auto;
    height: 800px;
    border: 1px solid #333;
}

/* PLAYER */
#player-1,
#player-2 {
    float: left;
    width: 20%;
    height: 100%;
}


.player-1__life{
    height:70% ;
    background: #999;
}
.player-1__roll_dice{
    height:30%;
    background: #888;
}

.player-2__life{
    height:70% ;
    background: #999;
}
.player-2__roll_dice{
    height:30%;
    background: #888;
}

/* PLAYER-board */

#play_board {
    float: left;
    width:60%;
    height: 100%;

}