
/* 디폴트값 */
.dice {
    width: 100px;
    height: 100px;
    background: purple;
    display: none;
}
.number {
    display: none;
}

/* 클래스추가시 */
.visible {
    display: block;
}

.invisible {
    display: none;
}