
@media (max-width:450px) {

    #main {
        width: 100vw;
        height: 100vh;
        margin: 1rem;
    }

    .add-task-modal {
        height: 100vh;
        top: 0;
        left: 0;
    }
}