body {
    background: #25F3CC;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.add-task-modal {
    background: #fff;
    border-radius: 2rem;
    width: 25rem;
    height: 30rem;
    padding: 2rem;
    position: relative;
    display: none;
    z-index: 2;
}

.add-task-modal.visible {
    display: block;
}


.date {
    font-size: 2rem;
}




.created-number {
    font-size: 1.6rem;
}

.created-text {
    color: #999;
    font-size: 20px;
    font-weight: 400;
}




.completed-task {
    text-align: right;
}

.completed-number {
    font-size: 1.6rem;
}

.completed-text {
    color: #999;
    font-size: 20px;
    font-weight: 400;
}




.list-items {
    display: flex;
    justify-content: space-between;
}

.content__completed {
    flex-basis: 10%;
}

.content__text {
    flex-basis: 80%;
}

.fa-trash-alt {
    flex-basis: 10%;
}




.add-task-btn {
    position: absolute;
    bottom: 10%;
    right: 10%;
    border-radius: 100%;
    background: #25F3CC;
    width: 4rem;
    height: 4rem;
    box-shadow: 2px 2px 5px #eee;
}

.add-task-btn:hover {
   background: #2dddbd;
   transform: scale(1.1);
   transition: 0.2s ease-in-out;
}

.add-task-btn__icon {
    color: #fff;
    padding: 1.5rem;
}

.add-task-btn__icon:hover {
    animation: icon 2s 1;
}

@keyframes icon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


#task-log {
    display: flex;
    justify-content: space-between;
}

#backdrop.visible {
    display: block;
}

#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

#main {
    background: #fff;
    border-radius: 2rem;
    width: 25rem;
    height: 30rem;
    padding: 4rem 2rem;
    position: relative;
}

#task-log {
    padding: 1.5rem 0;
}

#main-header {
    margin-top: 2rem;
}