* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

button {
    border: none;
    background: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.r-font-weight {
   font-weight: 400;
}