/* ------------------------------ */
/* 셋업 */
/* ------------------------------ */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: #333;
}

address {
    font-style: normal;
}

/* ------------------------------ */
/* 레이아웃 */
/* ------------------------------ */

#hero {
    position: relative;
    height: 850px;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main {
    height: 1340px;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #ebebeb;
    border-top: 1px solid #bababa;
}

#footer > .container {
    width: 100%;
}

/* ----- HEADER ----- */

.main_nav {
    height: 80px;
    display: flex;
    align-items: center;

}

.main_nav .logo img {
    width: 160px;
}   

/* ----- HERO ----- */

.hero_text_box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_text_box h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: 80px;
}

/* ----- MAIN ----- */

.contents_container {
    transform: translateY(-200px);
    width: 100%;
    height: auto;
}

.card {
    display: block;
    float: left;
    height: 400px;
    width: 30%;
    margin: 1.66%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all 0.3s;
}

.card:hover {
    transform: translateY(-3%) scale(1.02);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.card.project_1 > .card_img {color: #ff3434; background-image: url(../img/project1_thumb.PNG);}
.card.project_2 > .card_img {color: #ffbb34;}
.card.project_3 > .card_img {color: #ff00a1;}
.card.project_4 > .card_img {color: #3ce9a8;}
.card.project_5 > .card_img {color: #34ceff;}
.card.project_6 > .card_img {color: #d6ff00;}
.card.project_7 > .card_img {color: #b534ff;}
.card.project_8 > .card_img {color: #ff6600;}
.card.project_9 > .card_img {color: #ffffff;}

.card_img {
    width: 100%;
    height: 60%;
    background-color: #2f2f31;
    background-size: cover;
    background-position: center center;
}

.card_img_temporary {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 140px;
    color: #fff;
}

.card_text_box {
    width: 100%;
    height: 40%;
    padding: 18px 24px;
    box-sizing: border-box;
    background-color: #fff;
}

.card_text_box h2 {
    margin-bottom: 6px;
}

.card_text_box p {
    margin-bottom: 15px;
    color: #777;
}


.btn {
    float: left;
    padding: 8px 30px;
    border-radius: 30px;
    color: #fff;
    background-color: #ccc;
    transition: background-color 0.2s;
}

.card.project_1 .btn {background-color: #ff3434;}
.card.project_2 .btn {background-color: #ffbb34;}
.card.project_3 .btn {background-color: #ff00a1;}
.card.project_4 .btn {background-color: #3ce9a8;}
.card.project_5 .btn {background-color: #34ceff;}
.card.project_6 .btn {background-color: #d6ff00;}
.card.project_7 .btn {background-color: #b534ff;}
.card.project_8 .btn {background-color: #ff6600;}
.card.project_9 .btn {background-color: #181818;}

.card.project_1 .btn:hover {background-color: #ca2929;}
.card.project_2 .btn:hover {background-color: #c9942a;}
.card.project_3 .btn:hover {background-color: #c8017f;}
.card.project_4 .btn:hover {background-color: #33c28b;}
.card.project_5 .btn:hover {background-color: #2cacd3;}
.card.project_6 .btn:hover {background-color: #a9ca01;}
.card.project_7 .btn:hover {background-color: #922bce;}
.card.project_8 .btn:hover {background-color: #cc5201;}
.card.project_9 .btn:hover {background-color: #707070;}

.interaction_btn_box {
    float: right;
    height: 40px;
}

.btn_interaction {
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    font-size: 30px;
    height: 20px;
    border: none;
    background: none;
    transition: color 0.2s;
}

.card.project_1 .btn_interaction:hover {color: #ff3434;}
.card.project_2 .btn_interaction:hover {color: #ffbb34;}
.card.project_3 .btn_interaction:hover {color: #ff00a1;}
.card.project_4 .btn_interaction:hover {color: #3ce9a8;}
.card.project_5 .btn_interaction:hover {color: #34ceff;}
.card.project_6 .btn_interaction:hover {color: #d6ff00;}
.card.project_7 .btn_interaction:hover {color: #b534ff;}
.card.project_8 .btn_interaction:hover {color: #ff6600;}
.card.project_9 .btn_interaction:hover {color: #181818;}

.btn_interaction:first-child {
    margin-right: 5px;
}

/* ----- FOOTER ----- */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_text {
    color: #333;
}
