*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 버튼 이미지 초기화 */
button {
    border: none;
    outline: none;
}

/* 에이태그 초기화 */
a {
    text-decoration: none;
    color:#333;
}

address {
    font-style: normal;
}