/* -------------------- */
/* 기본설정 */
/* -------------------- */

body{
    color:#fff;
}

/* 루트값 */

:root{
    --primary_color:#23d8b5;
}


/* 컨테이너클래스 */
.container {
    max-width:1160px;
    margin: 0 auto;
}

/* 클리어픽스 */
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}


/* 좌우 보더라인 제거 */

table tr .border_right_delete {
    border-right: none
}

table tr .border_left_delete {
    border-left: none
}


/* -------------------- */
/* 버튼설정 */
/* -------------------- */


/* 사칙연산 버튼 */
.primary_color{
    background: var(--primary_color);
    color: #fff;
}

.primary_color:hover{
    background: #22C6A7;
    color: #f5f5f5;
}

.primary_color:active{
    background: #1CA68C;
    color: #f5f5f5;
}


/* 숫자버튼 */
button {
    background:#f2f2f2;
}

button:hover {
    background: #ddd;
}

button:active {
    background: #ccc;
}


/* reset, percent 버튼컬러  디폴트*/

.js---reset, .js---percent {
    background: #ccc;
}

.js---reset:hover, .js---percent:hover {
    background: #bbb;
}

.js---reset:active, .js---percent:active {
    background: #a5a5a5;
}

/* ---------------------- */
/* 재사용 컴퍼넌트 */
/* ---------------------- */



/* --------------------- */
/* SECTION_MAIN */
/* --------------------- */

.main {
    /* background-color: salmon; */
    width: 100%;
}

/* NAV */

.main--nav {
    background: #fff;
    padding:16px 0;
}

/* HERO IMG */

.main--hero {
    background: #ff4760;
    padding:10px 0;
    height:937px;  
}

.main--hero h2{
    font-size:90px ;
    padding: 20px 0 60px 0;
}

.main--hero h3{
    font-size:36px ;
    display: inline-block;
    margin-top: 172px;
}

.main--hero h4{
    font-size:24px ;
    display: inline-block;
    font-weight: 400;
}

.hero--btn {
    padding: 20px 35px;
    background: var(--primary_color);
    border-radius:4px;
    font-weight: 900;
    display: inline-block;
}

.hero--btn img{
    margin-left: 15px;
}

/* DESCRIPTION */

.main_content {
    position: relative;
}

.description {
    position: absolute;
    top:90%;
    left:20%;
    transform: translateY(-10%);
}

.hero_text_box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 100%; */
}

.description div:last-child{
    margin-right: 0;
}

.desc--box_01 {
    width: 370px;
    height: 370px;
    float: left;
    margin-right: 25px;
    background: #333333;
}

.desc--box_02 {
    width: 370px;
    height: 370px;
    float: left;
    margin-right: 25px;
    background: #333333;
}

.desc--box_03 {
    width: 370px;
    height: 370px;
    float: left;
    margin-right: 25px;
    background: #333333;
}


/* --------------------- */
/* SECTION_CALCULATOR */
/* --------------------- */


#calculator_content {
    padding-top:202px;
}



/* CALCULATOR */


.calculator {
    width:298px;
    height: 532px;
    border-radius: 5px;
    margin: 0 auto;
}


/* ---------------------- */
/* OUTPUT_PANEL*/
/* ---------------------- */
.calculator--output_panel {
    background:#333;
    height: 158px;
    text-align: right;
}

.js---previous_result{
    /* background: #888; */
    height: 40%;
    font-size:24px;
    padding:40px 30px 0 0;
    color: #999;
}

.js---current_result {
    /* background:#999; */
    padding-right: 30px;
    font-size:56px;
    height: 60%;
}

/* ---------------------- */
/* INPUT_PANEL*/
/* ---------------------- */

.calculator--input_panel table {
    width:100%;
    height:374px;
    border-collapse: collapse;
    border-spacing: 0;

}


.calculator--input_panel td {
    text-align: center;
    width:25%;
    border:1px solid #fff;
}

.calculator--input_panel button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size:28px;
    font-weight:700;  
}


